#container {
  max-width: 940px;
  margin: auto;
  background-color: #fff;
}
header{
    background: linear-gradient(#dadada, #fff, #fff, #fff, #fff);
    height: 140px;
}
main{
    height: 900px;
    background-color: purple;
}
footer{
    height: 140px;
    background-color: #2d2424;
}
