#container {
  max-width: 940px;
  margin: auto;
}
header {
  background: linear-gradient(#dadada, #fff, #fff, #fff, #fff);
  padding: 37px 10px 23px 10px;
}
nav a img {
  width: 27%;
}
.menu {
  display: inline-block;
  float: right;
  padding: 15px 0 0 0;
}
menu {
  padding: 20px 0 0 0;
  display: none;
}
menu li {
  display: inline-block;
  font: 0.7em Tahoma;
  color: #b7b7b7;
  border-left: 1px dotted #000;
  padding: 0 10px 10px 10px;
}
menu li a {
  display: block;
  color: #666666;
  font: bold 0.9rem Georgia;
}
main {
  /* height: 900px; */
  background: url("../img/blackBg.jpg") repeat-x;
  padding: 22px 0 0 0;
}
#slider {
  height: 340px;
  background: url("../img/slide1.jpg") center/cover;
  border-radius: 7px;
  border: 1px solid #c6c6c6;
  box-shadow: 0 4px 6px #898989;
}
.main p {
  font: bold 1.5em Georgia;
  text-align: center;
  padding: 20px 0 15px 0;
}
.image {
  margin-top: 15px;
  padding: 7px;
  background: #f3f3f3;
  border-radius: 3px;
}
.boxes {
  min-height: 470px;
  border-top: solid #e5e5e5;
  border-bottom: solid #e5e5e5;
  margin-bottom: 40px;
}
.boxes .box {
  width: 300px;
  margin: 35px 10px 20px 0;
  display: inline-block;
}
.boxes .box h3 {
  font: normal 1.3em Georgia;
  color: #11719e;
}
.boxes .box p {
  font: normal 0.8em "Helvetica";
  color: #8c8c8c;
}
.boxes button {
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  padding: 10px;
  font: normal 0.8em Helvetica;
  color: #016999;
  margin-bottom: 35px;
  width: 160px;
  text-align: left;
  background: #dcdcdc;
  background: radial-gradient(
    circle,
    rgba(220, 220, 220, 1) 0%,
    rgba(245, 245, 245, 1) 50%,
    rgba(220, 220, 220, 1) 100%
  );
}
.boxes button img {
  float: right;
}
.txt {
  width: 291px;
  height: 89px;
  font: normal 0.8em Helvetica;
  color: #3e3e3e;
  margin: 15px 0 20px 0;
}
footer {
  height: 180px;
  background-color: #333;
  border-top: 10px solid #4c4c4c;
  font: normal 0.7em Helvetica;
  line-height: 10px;
  color: #999999;
  padding: 20px 0 0 0 ;
}
footer .left_box{
  
}
footer .left_box ul li{
  display: inline-block;

}
footer .right_box{
  display: inline-block;
  float: right;
}
@media only screen and (min-width: 768px) {
  header {
    padding: 37px 0 23px 0;
  }
  menu {
    display: block;
    float: right;
  }
  .menu {
    display: none;
  }
}
